<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AcademiaJava/src/br/com/divus/aj4/labs/lab02_01/teste/TesteRecuperacao.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.divus.aj4.labs.lab02_01.teste.TesteRecuperacao"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AcademiaJava"/>
</launchConfiguration>
